.footer-payment
{
    display: block;
    text-align: center;
}

.payment-mastercard
{
    margin-top: 5px;
    height: 50px;
    width: 50px;
}

.footerdiv
{
    background: #000000;
    color: #ffffff;
}